USE [master]
GO
/****** Object:  Database [Jurisdiction_DB]    Script Date: 2/5/2023 7:19:49 AM ******/
CREATE DATABASE [Jurisdiction_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Jurisdiction_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Jurisdiction_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Jurisdiction_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Jurisdiction_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jurisdiction_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jurisdiction_DB]
GO
/****** Object:  Table [dbo].[Jurisdiction]    Script Date: 2/5/2023 7:19:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jurisdiction](
	[JurisdictionID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Capital] [nvarchar](50) NULL,
	[Population] [int] NOT NULL,
	[Area] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
